

.formPageContainer {
    width: 100%;
    padding: 18px;
     max-width: 800px;
    margin:  0 auto;
}
.formTitle{
    font-size: 0.99rem;
    color: #757373;
}

.categoryRadio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3px;
}
.formCard {
    background-color: var(--surface-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
   
}

.formLayout {
    display: flex;
    flex-direction: column;
  
}

.formRowGroup {
    display: flex;
    flex-direction: column;
   
}

@media screen and (min-width: 481px) {
    .formRowGroup {
        flex-direction: row;
        gap: 25px;
    }
    .formRowGroup > div, .formRowGroup > fieldset {
        flex: 1; 
    }
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 5px;
    font-weight: 500;
}

.textInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #000;
    color: var(--text-color);
    transition: border-color 0.3s;
}

.textInput:focus {
    outline: none;
    border-color: var(--primary-color);
}

.inputError {
    border-color: var(--error-color) !important;
}

.errorMessage {
    color: var(--error-color);
    font-size: 0.75rem;
    margin-top: 5px;
}


.radioCheckGroup {
    flex-direction: column; 
    gap: 20px;
}
@media screen and (min-width: 481px) {
    .radioCheckGroup {
        flex-direction: row;
        gap: 25px;
    }
}

.radioFieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.radioOptionsContainer {
    display: flex;
    gap: 15px;
    padding-top: 5px;
}

.radioLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customRadio {
    appearance: none; 
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    transition: all 0.2s ease;
    margin-right: 5px;
}

.customRadio:checked {
    border: 5px solid var(--primary-color);
    background-color: transparent;
}


.submitButton {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #333; 
}

.feedbackMessage {
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
}

.successMessage {
    background-color: rgba(76, 175, 80, 0.15);
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.errorFeedbackMessage {
    background-color: rgba(255, 82, 82, 0.15);
    color: var(--error-color);
    border: 1px solid var(--error-color);
}